main {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

button {
    cursor: pointer;
}

.main-header {
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.main-header-hamburger {
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    border: none;
}

.main-header-hamburger:hover {
    opacity: 80%;
}

.main-header-hamburger:active {
    opacity: 60%;
}

.main-input {
    font-size: 5rem;
    width: 100%;
    background-color: transparent;
    border: none;
    text-align: right;
}

.main-input::placeholder {
    color: white;
}

.main-input:focus {
    outline: none;
}

.function-row {
    display: flex;
    gap: 1rem;
}

.function-button {
    padding: 0.5rem 1rem;
}

.gray {
    color: gray;
}

.disabled {
    cursor: not-allowed;
}
